<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome Home</h1>
    <button>Connect to Spotify</button>

    <div>
        {% if user.is_authenticated %}
            <p>You are logged in.</p>
             <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
            <p>Please log in.</p>
        {% endif %}
    </div>
</body>
</html>
